// Colors
$color-cyan: #5fb4a2;
$color-dark-blue: #203a4c;
$color-gray-dark-blue: #33323d;
$color-light-grey: #fafafa;
$color-light-grey-2: #eaeaeb;
$color-red: #f43030;

// Font family
$font-header: "Ibarra Real Nova", serif;
$font-body: "Public Sans", sans-serif;

// Breakpoints
